.processing{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.showing{
    text-align: center;
    background-color: black;
    color: white;
    opacity: 100;
}

.hidden{
    opacity: 0;
}

.to-planning{
    width: 123px;
    height: 42px;
    color: #343A3F;
    font-size: 14px;
    background-color: #F9A743;
    border-radius: 2px;
    border: 0;
    outline: 0;
}